<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team7 | Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
  {% load static %}
  <div class="container">
    <header>
      <div class="nav-brand">
        <a class="nav-item" href="{% url 'home'%}">
          <img class="logo" src="{% static '/images/logo.png' %}" alt="Team7 Logo">
        </a>
      </div>
      <nav>
        <a class="hide-desktop"><img src="{% static '/images/ham.svg' %}" alt="toggle menu" class="menu" id="menu"></a>
        <ul class="show-desktop hide-mobile" id="nav">
          <li id="exit" class="exit-btn hide-desktop"><img src="{% static '/images/exit.png' %}" alt=""></li>
          <li><a href="{% url 'home'%}">Home</a></li>
          <li><a href="{% url 'info'%}">Learn About Gastrointestinal Cancer</a></li>
          <li><a href="{% url 'model'%}">Upload Image</a></li>
          <li><a href="{% url 'contact'%}">Our Team</a></li>
          <li><a href="{% url 'privacy'%}">Privacy Policy</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <h1 class="heart_tagline">Using Convolutional Neural Networks to Assist Early Detection</h1>
      <p class="subhead">Use our cutting edge CNN technology to assist in gastrointestinal cancer diagnostics for your
        histopathological image now
      </p>
    </section>
  </div>
  <br>
  <section>
    <br>
    <br>
    <span style="margin-left: 2.5em;padding: 50em 0 50em 0;">&nbsp;</span>
    <span style="margin-left: 2.5em;padding: 50em 0 50em 0;">&nbsp;</span>
    <span style="margin-left: 2.5em;padding: 50em 0 50em 0;">&nbsp;</span>
    <span style="margin-left: 2.5em;padding: 50em 0 50em 0;">&nbsp;</span>
    <div class="container">
      <div class="form-outline-main">
        <h2><a href="{% url 'model'%}">Upload your image now</a></h2>
      </div>
    </div>
  </section>
  <div class="container">
    <section>
      <p class="subhead">Note: <br>Our model is intended for early detections and second opinions.
        Combined with predictive results from our model, we highly recommend you to seek professional help
        to make a more informed decision.
      </p>
    </section>
  </div>

  <div class="dark-container">
    <div class="container">
      <section>
        <div class="row2">
          <div class="column2">
            <img src="{% static '/images/icon1.png' %}" alt="histopathological cancer image">
            <p>
              Gastrointestinal cancer is a leading cause of death, which can be mitigated through early detection.</b>
        It's now more important than ever to stay on top of your health and get checked out regularly.<br><br><b>
          Get checked out now
            </p>
          </div>
          <div class="column2">
            <img src="{% static '/images/icon2.png' %}" alt="histopathological cancer image">
            <p>
              Data and healthcare go hand in hand.</b>
        Through the vast amounts of data and powerful modelling methods available today, there have been significant
        advances in modern medicine<br><br><b>That's good for you</b>
            </p>
          </div>
          <div class="column2">
            <img src="{% static '/images/icon3.png' %}" alt="histopathological cancer image">
            <p>
              We've combined expertise in machine learning and artificial intelligence.<br>
        By simply inputing a compatible histopathological image, our state of the art model can accurately
        predict your chances of being at risk.<br><br><a href="{% url 'model'%}">Want to try it out?</a>
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  
  <footer>
    <div class="footer-container">
      <div class="container">
        <a href="{% url 'home'%}">
          <img class="sa-logo" src="{% static '/images/logo_white.png' %}" alt="Team7 Logo">
        </a>
        <p class="address">13 Ancora Imparo Way<br>Monash University<br>3800 VIC</p>
      </div>
    </div>
  </footer>

  <script src="/static/js/menu.js"></script>

</body>

</html>