<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team7 | Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
  {% load static %}
  <div class="container">
    <header>
      <div class="nav-brand">
        <a class="nav-item" href="{% url 'home'%}">
          <img class="logo" src="{% static '/images/logo.png' %}" alt="Team7 Logo">
        </a>
      </div>
      <nav>
        <a class="hide-desktop"><img src="{% static '/images/ham.svg' %}" alt="toggle menu" class="menu" id="menu"></a>
        <ul class="show-desktop hide-mobile" id="nav">
          <li id="exit" class="exit-btn hide-desktop"><img src="{% static '/images/exit.png' %}" alt=""></li>
          <li><a href="{% url 'home'%}">Home</a></li>
          <li><a href="{% url 'info'%}">Learn More About Gastrointestinal Cancer</a></li>
          <li><a href="{% url 'model'%}">Upload Image</a></li>
          <li><a href="{% url 'home'%}">Contact Us</a></li>
        </ul>
      </nav>
    </header>


    <section>
      <h1 class="heart_tagline">Gastrointestinal Cancers Kill ~40 Australians Per Day</h1>
      <b>
        <p class="subhead">Gastrointestinal cancer refers to a family of cancers which affect the digestive system.
          Gastrointestinal cancer is the most common form of cancer and it impacts both men and women.
          Annually, approximiatle 30,000 Australians are diganosed with some form of gastrointestinal cancer. Specific
          types of gastrointestinal cancers include:
        </p>
      </b>
      <br>
      <br>
      <ul>

        <li class="subhead">Liver cancer</li>
        <br>
        <li class="subhead">Stomach cancer</li>
        <br>
        <li class="subhead">Gallbladder cancer</li>
        <br>
        <li class="subhead">Pancreatic cancer</li>
        <br>
        <li class="subhead">Colorectal cancer</li>
        <br>
        <li class="subhead">Bowel cancer</li>
        <br>
        <li class="subhead">Anal cancer</li>
        <br>
      </ul>
      <br>
    </section>
  </div>
  <div class="content">
    <section>
      <br>
      <img src="{% static '/images/cancer_info.jpg' %}" alt="Infographic">
      <br>
    </section>
  </div>

  <section>
    <br>
    <p class='address'>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Source: AGITG, 2021
    </p>
  </section>

  <footer>
    <div class="footer-container">
      <div class="container">
        <a href="{% url 'home'%}">
          <img class="sa-logo" src="{% static '/images/logo.png' %}" alt="Team8 Logo">
        </a>
        <p class="address">13 Ancora Imparo Way<br>Monash University<br>3800 VIC</p>
      </div>
    </div>
  </footer>

  <script src="/static/js/menu.js"></script>

</body>

</html>