<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team7 | Information</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="shortcut icon" href="/static/images/sa_logo.ico" />
</head>

<body>
  {% load static %}
  <div class="container">
    <header>
      <div class="nav-brand">
        <a class="nav-item" href="{% url 'home'%}">
          <img class="logo" src="{% static '/images/logo.png' %}" alt="Team7 Logo">
        </a>
      </div>
      <nav>
        <a class="hide-desktop"><img src="{% static '/images/ham.svg' %}" alt="toggle menu" class="menu" id="menu"></a>
        <ul class="show-desktop hide-mobile" id="nav">
          <li id="exit" class="exit-btn hide-desktop"><img src="{% static '/images/exit.png' %}" alt=""></li>
          <li><a href="{% url 'home'%}">Home</a></li>
          <li><a href="{% url 'info'%}">Learn About Gastrointestinal Cancer</a></li>
          <li><a href="{% url 'model'%}">Upload Image</a></li>
          <li><a href="{% url 'contact'%}">Our Team</a></li>
          <li><a href="{% url 'privacy'%}">Privacy Policy</a></li>
        </ul>
      </nav>
    </header>

    <section>
      <h1 class="title">Gastrointestinal Cancer Diagnostics</h1>
      <br>
      <h4>This model will take a histopathological image and classify it as one of the following:</h4>
      <br>
      <h4>MSIMUT: Microsatelite Instable or Highly Mutated (Cancerous)</h4>
      <br>
      <h4>MSS: Microsatelite Stable (Non-cancerous)</h4>
      <p class="subhead">Disclaimer: <br>The prediction results from this program will not be 100% accurate. <br>If you feel that you may
        have developed cancer, we strongly advise you to visit a doctor immediately!
      </p>
    </section>
  </div>
  <br>
  <br>
  <section>
    <div class="container">
      <h2>Upload your image here</h2>
      <form method="post" enctype="multipart/form-data", action="image_prediction">
        {% csrf_token %}
        <input type="file" required name="upload" accept="image/*">
        <br><br>
        <p style="color: #FF0000">Note: File must be of .jpg and .png format</p>
        <p class="subhead">Please upload a histopathological image of the gastrointestinal region. <br>
          Otherwise, the prediction would not make sense.
        </p>
        <br>
        <br>
        <button class="btn btn-dark my-4" type="submit">Submit</button>
        <br>
      <h2>Image Uploaded:</h2>
      {% if file_url %}
      <img src={{file_url}} alt = 'imagename'>
      <br>
      <br>
      <h4>Classification of this image: {{prediction_label}}</h4>
      <br>
      <h4>We are 74% confident of this prediction.</h4>
      {% else %}
      <p>No image uploaded</p>
      {% endif %}
    </form>
  </section>

  <div class="dark-container">
    <div class="container">
      <section>
        <div class="row2">
          <div class="column2">
            <img src="{% static '/images/icon1.png' %}" alt="histopathological cancer image">
            <p>
              Gastrointestinal cancer is one of the leading causes of death in Australia, which can be mitigated through early detection.</b>
        It's now more important than ever to stay on top of your health and get checked out regularly.
        <br><br><a href="https://www.healthdirect.gov.au/australian-health-services">
          Want to get checked out?</a>
            </p>
          </div>
          <div class="column2">
            <img src="{% static '/images/icon2.png' %}" alt="histopathological cancer image">
            <p>
              Data and healthcare go hand in hand.</b>
        Through the vast amounts of research conducted, there have been significant
        medical advances in modern medicine. It's crucial that you educate yourself on the latest
        available information.<br><br><a href="https://gicancer.org.au/about-us/">Want to learn more?</a>
            </p>
          </div>
          <div class="column2">
            <img src="{% static '/images/icon3.png' %}" alt="histopathological cancer image">
            <p>
              We've combined expertise in machine learning and artificial intelligence.<br>
        By simply inputing a compatible histopathological image, our state of the art model can accurately
        predict your chances of being at risk.<br><br><a href="{% url 'model'%}">Want to try it out?</a>
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  
  <footer>
    <div class="footer-container">
      <div class="container">
        <a href="{% url 'home'%}">
          <img class="sa-logo" src="{% static '/images/logo_white.png' %}" width="300" height="100" alt="Team7 Logo">
        </a>
        <p class="address">13 Ancora Imparo Way<br>Monash University<br>3800 VIC</p>
      </div>
    </div>
  </footer>

  <script src="/static/js/menu.js"></script>

</body>

</html>