<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team7 | Information</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="shortcut icon" href="/static/images/sa_logo.ico" />
</head>

<body>
  {% load static %}
  <div class="container">
    <header>
      <div class="nav-brand">
        <a class="nav-item" href="{% url 'home'%}">
          <img class="logo" src="{% static '/images/logo.png' %}" alt="Team7 Logo">
        </a>
      </div>
      <nav>
        <a class="hide-desktop"><img src="{% static '/images/ham.svg' %}" alt="toggle menu" class="menu" id="menu"></a>
        <ul class="show-desktop hide-mobile" id="nav">
          <li id="exit" class="exit-btn hide-desktop"><img src="{% static '/images/exit.png' %}" alt=""></li>
          <li><a href="{% url 'home'%}">Home</a></li>
          <li><a href="{% url 'info'%}">Learn About Gastrointestinal Cancer</a></li>
          <li><a href="{% url 'model'%}">Upload Image</a></li>
          <li><a href="{% url 'contact'%}">Our Team</a></li>
          <li><a href="{% url 'privacy'%}">Privacy Policy</a></li>
        </ul>
      </nav>
    </header>

    <section>
      <h1 class="title">Privacy Policy</h1>
      <p class="subhead">Gastrointestinal cancer refers to a group of cancers that affect the gastrointestinal tract and
        other organs in the digestive system.
      </p>
    </section>
  </div>
  <br>
  <br>
  <section>
    <div class="container">
      <div class="form-outline-main">
        <h2><a href="{% url 'home'%}">Upload your image now</a></h2>
      </div>
    </div>
  </section>


  <footer>
    <div class="footer-container">
      <div class="container">
        <a href="{% url 'home'%}">
          <img class="sa-logo" src="{% static '/images/logo_white.png' %}" alt="Team8 Logo">
        </a>
        <p class="address">13 Ancora Imparo Way<br>Monash University<br>3800 VIC</p>
      </div>
    </div>
  </footer>

  <script src="/static/js/menu.js"></script>

</body>

</html>